<!-- About Section -->
    <section id="content" class="bg-light-gray">
        <div class="container">
            <div class="row">

            
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Historical Accuracy</h2>
                    <h3 class="section-subheading text-muted"><p>Here you will find a list of the movies depicted on this website and the trends of the importance of historical accuracy in World War II films.</p><p>The most accurate movies were produced during the early to mid Cold War era(with exception to Band of Brothers)where as the least accurate movies have been more recent movies.
                    </p>

                    </h3>
                    <h5>More Info Coming Soon</h5>
                </div>
            </div>


            
             
       
        </div>
    </section>


        <section id="size" class="bg-light-gray">
        <div class="container">
            <div class="row">

            
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Large versus Small casts</h2>
                    <h3 class="section-subheading text-muted"><p>Under Construction
                    </p>

                    </h3>
                    <h5>More Info Coming Soon</h5>
                </div>
            </div>


            
             
       
        </div>
    </section>