<div class="portfolio-modal modal fade js-modal" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal" >
                    <div class="lr">
                        <div class="rl"">
                        </div>
                    </div>
                </div>
                 
                <div class="container">
              
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-xs-12">

                            <div class="modal-body">
                              <div class = "modal-title">
                              <div class = "col-md-10 col-xs-12 pull-right">
                    <h2 class = "js-movie-name">Movie Name</h2></div>
                              <div class = "col-md-2 col-xs-12 pull-left"><h4 class = "js-year">Year</h4></div>
                              
                    
                </div>
                                <!-- Movie Details Go Here -->
                                
                                <p class="item-intro text-muted js-tagline">Tagline</p>
                                
                                <div class = "js-description">
                              
                                </div>
               
                                <div class = "js-images">
                              
                                </div>

                                <div class = "comments">
                                    <form>
                             
                                    <input type="text" name = "e-mail">
                                    <br>
                      
                                    <input type = "text-area" >
                                    <br>
                                    <button type = "button" class ="btn special-button" >Submit</button>
                                    </form>
                                </div>


   

                                
                              
                                <button type="button" class="btn btn-primary close-btn" data-dismiss="modal"><i class="fa fa-times"></i> Close Movie</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>