 <section id="size" class="bg-light-gray">
        <div class="container">
            <div class="row">

            
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Large versus Small casts</h2>
                    <h3 class="section-subheading text-muted"><p>Here you will find a list of the movies depicted on this website and how they portrayed the wars by either following a large group of soldiers or a small unit.
                    </p><p>
                    The larger cast movies were popular in the classic movies, with the exception of Band of Brothers (which was a ten hour marathon). The recent trend tends to focus on small groups of men. The size of the cast for The Longest day was astronomical...in the hundreds.
                    </p>

                    </h3>
                    <h5>More Info Coming Soon</h5>
                </div>
            </div>


            
             
       
        </div>
    </section>