// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.credit-link{
	color: #777;
}
table{
	margin-left: auto;
	margin-right: auto; 
}

.dropdown-menu.dark > li > a{
	color: #333;
}
.timeline-body > div > a{
	color: black;
}
.timeline:before{
	background-color: #777;
}

.img-circle{
	border-radius: 50%;

}
.selected-img{
	max-width: 350px;
	max-height: 300px;
}

@media (min-width: 601px){
	.selected-img{
		max-width: none;
		height: 300px;
	}
}
.small-image{
	height: 75px;
}

.conclusion{
	background-image: url('cemetery.jpg');
	background-repeat: no-repeat;
  	background-attachment: scroll;
  	background-position: center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: white;
}
p.indent{
	text-indent: 50px;
}
